.navbar-scroll {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.navbar-scroll.scrolled {
    background-color: rgba(203, 241, 203, 0.8); /* Use rgba to specify transparency (0.8 for 80% opacity) */
}

.nav-height{
    height: 5rem;
}
