/master/migrations/*

# Ignore .pyc files
*.pyc
# Ignore Python bytecode files
__pycache__/*.pyc

# Ignore virtual environment folders
venv/
env/

db.sqlite3
ritscon/db.sqlite3
/RITS/ritscon/db.sqlite3


# Ignore IDE/Editor files
.idea/
.vscode/
*.iml


# Ignore SQLite database file
db.sqlite3
